<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="./css/normalize.css">

    <!-- Popop CSS -->
    <link rel="stylesheet" href="./css/popop.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/about.css">

    <!-- Popop JS -->
    <script defer src="./js/popop.js"></script>

    <!-- Custom JS -->
    <script defer src="./js/custom.js"></script>

    <title>Round Hounds | Burgers & Fries </title>
</head>
<body>

    <header>
        <nav>
            <ul class="navBar">
              <li>
                <a href="/">
                  Home
                </a> 
                </li>
              <li>
                <a href="/order">
                  Menu
                </a> 
              </li>
              <li>
                <a href="/order">
                  Order Online
                </a> 
              </li>
              <li>
                <a href="/about">
                  Our Story
                </a> 
              </li>
            </ul>
          </nav>
    </header>
    <main>
          <section class="container content-section">
              <h2 class="section-header">Our Story</h2>
              <div class="sectionContainer">
              </div>
              <div class="shop-items">
                <div class="shop-item">
                    <div class="shop-item-details">
                        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae unde ea consequatur similique deserunt in provident ex iure dicta non maiores aperiam ipsa, qui porro, odio tenetur et quas esse!
                        Ad quas quis, omnis non corporis excepturi praesentium rerum ducimus repellendus quae voluptatum ipsa ut, veniam maiores quod? Officia est, ad voluptatem vitae molestias fuga dolorem eos quo eligendi ipsa!
                        Qui provident quae nemo dicta porro cupiditate, sapiente laborum corporis tenetur, blanditiis explicabo dolorum ea id, voluptatem similique dolorem quibusdam nostrum consequatur excepturi beatae suscipit vel! Illo corrupti enim in.
                    </h1>
                    </div>
                </div>
              </div>
          </section>
        
    </main>
</body>
</html>