<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="./css/normalize.css">

    <!-- Popop CSS -->
    <link rel="stylesheet" href="./css/popop.css">

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="./css/skeleton.css">

    <!-- Home CSS -->
    <link rel="stylesheet" href="./css/home.css">

    <!-- Popop JS -->
    <script defer src="./js/popop.js"></script>

    <!-- Main JS -->
    <script defer src="./js/main.js"></script>

    <title>Round Hounds | Burgers & Fries </title>
</head>
<body>
   
    <header>
        <nav>
          <ul class="navBar">
            <li>
              <a href="/">
                Home
              </a> 
              </li>
            <li>
              <a href="/order">
                Menu
              </a> 
            </li>
            <li>
              <a href="/order">
                Order Online
              </a> 
            </li>
            <li>
              <a href="/about">
                Our Story
              </a> 
            </li>
          </ul>
        </nav>
    </header>
    <main>
    <div class="landingContainer">
        <h1> Round Hounds</h1>
        <h3>Burgers & Fries</h3>
        
    </div>
    <!-- <div class="signupContainer">
      <h2>
          <button>
            Sign Up
          </button>
        </h2>
    </div> -->
    <button class="popop-open-btn" data-modal-id="modal-1">Open!</button>
    <div class="popop-modal" id="modal-1"> 
      <form action="/" method="POST">
        <div class="row">
          <div class="six columns">
            <label for="exampleEmailInput">Your email</label>
            <input name="email" class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">

            <label for="fName">First name</label>
            <input name="fName" class="u-full-width" type="text" placeholder="first name" id="fName">

            <label for="lName">Last Name</label>
            <input name="lName" class="u-full-width" type="text" placeholder="Last Name" id="lName">
          </div>
        </div>
        
        <input class="button-primary" type="submit" value="Submit">
      </form>
      
      <button class="popop-close-btn"> X </button>
      <button class="popop-close-btn"> Add to Cart </button>
    </div>
    </main>

</body>
</html>