<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- Home CSS -->
    <link rel="stylesheet" href="./css/success.css">

    <title>Success</title>
</head>
<body>
    <div class="success">
        <h1> Your Subscribed</h1>
        <p>Enjoy some Round Hounds Fries </p>
    </div>
</body>
</html>